Options +FollowSymlinks
RewriteEngine On

#RewriteCond "%{REQUEST_FILENAME}" "!-f"
#RewriteCond "%{REQUEST_FILENAME}" "!-d"
RewriteRule	^article/([0-9]+)$  index.php?page=article&id=$1	[L]
RewriteRule	^admin             index.php?page=admin	[QSA]
