* { box-sizing: border-box }

html { font-size: 62.5%; }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    font-size: 150%;
}

.fullwidth {
    width: 100%;
}

.flex > *:not(.fullwidth) {
    width: calc(100% / 3)
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.justify {
    text-align: justify;
}

/* COLORS */
body {
    background-color: #21475d;
    color: #65aad5;
}

a {
    color: steelblue;
    font-weight: bold;
    text-decoration: none;
}


