body {
    background: url(water.jpg);
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
}

#boat {
    height: 64px;
    width: 64px;
    background: url(boat.png);
    position: absolute;
}

#boat.right { background-position: 0 -128px }

#boat {
    left: 0
}


